<div id="head">
    <div class="head-menu container-fluid">
        <ul class="container">
            <li>
                <a href="https://www.vmall.com">首页</a>
            </li>
            <li>
                <a href="https://consumer.huawei.com/cn/" target="_blank">华为官网</a>
            </li>
            <li>
                <a href="https://club.huawei.com" target="_blank">花粉俱乐部</a>
            </li>
            <li>
                <a href="https://www.vmall.com/priority">V码(优购码)</a>
            </li>
            <li>
                <a href="/company" target="_blank">企业购</a>
            </li>
        </ul>
    </div>
    <div class="head-logo container">
        <img src="/static/img/vmall_logo.png" alt="">
    </div>
</div>